<div class='well post row'>
  <h3 class='pull-left'>{{post.title}}</h3>
  <p class='date'>{{post.date}}</p>
  <hr>
  <div class='col-sm-6'>
    <img src={{post.image}} alt={{post.title}}>
  </div>
  <div class='col-sm-6'>
    <p>{{preview}}</p>
    {{#link-to 'index' class='pull-right'}}Read more{{/link-to}}
  </div>
</div>

<!-- <div class='well post'>
  <img src={{post.image}} alt={{post.title}}>
  <h3 class='pull-left'>{{post.title}}</h3>
  <p class='date'>{{post.date}}</p>
  <hr>
  <p>
    {{#each paragraphs as |para|}}
      {{para}}<br>
    {{/each}}
  </p>
</div> -->
