<div class='well post row'>
  {{#link-to 'post' post.id}}<h3 class='pull-left'>{{post.title}}</h3>{{/link-to}}
  <p class='date'>{{post.date}}</p>
  <hr>
  <div class='col-sm-6'>
    <img src={{post.image}} alt={{post.title}}>
  </div>
  <div class='col-sm-6'>
    <p>
      {{#each preview as |para|}}
        {{para}}<br>
      {{/each}}
    </p>
    <div  class='pull-right'>
      {{#link-to 'post' post.id}}Read more{{/link-to}}
    </div>
  </div>
</div>
